@import './base.css';

@import url('https://fonts.cdnfonts.com/css/copperplate');
@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  width: fit-content;
}
div, p, header {
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
}

.kor {
  font-family: 'Dango-bold-Regular';
}
.eng {
  font-family: 'Copperplate';
}